In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

### Importing data

In [2]:
path = r'C:\Users\Amani\Desktop\career foundry\Brazilian E-Commerce project A6'

In [3]:
products = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'olist_products_dataset.csv'), index_col = False)

In [4]:
orderpayment = pd.read_csv(os.path.join(path, '02 data', 'original data', 'olist_order_payments_dataset.csv'))

In [5]:
customers = pd.read_csv(os.path.join(path, '02 data', 'original data', 'olist_customers_dataset.csv'))

In [6]:
orderitems = pd.read_csv(os.path.join(path, '02 data', 'original data', 'olist_order_items_dataset.csv'))

In [7]:
orders = pd.read_csv(os.path.join(path, '02 data', 'original data', 'olist_order_payments_dataset.csv'))

In [8]:
sellers = pd.read_csv(os.path.join(path, '02 data', 'original data', 'olist_order_payments_dataset.csv'))


geological = pd.read_csv(os.path.join(path, '02 data', 'original data', 'olist_geolocation_dataset.csv'))

In [9]:
productscategory = pd.read_csv(os.path.join(path, '02 data', 'original data', 'product_category_name_translation.csv'))

### handling missing values

In [10]:
products = pd.read_csv(os.path.join(path, '02 data', 'original data', 'olist_products_dataset.csv'), delimiter=";")
print(products.head())

                         product_id  product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

In [11]:
print(products.tail())

                             product_id              product_category_name
32946  a0b7d5a992ccda646f2d34e418fff5a0                   moveis_decoracao
32947  bf4538d88321d0fd4412a93c974510e6  construcao_ferramentas_iluminacao
32948  9a7c6041fa9592d9d9ef6cfe62a71f8c                    cama_mesa_banho
32949  83808703fc0706a22e264b9d75f04a2e             informatica_acessorios
32950  106392145fca363410d287a815be6de4                    cama_mesa_banho

In [12]:
print(products.describe())

                              product_id product_category_name
count                              32951                 32341
unique                             32951                    73
top     106392145fca363410d287a815be6de4       cama_mesa_banho
freq                                   1                  3029

In [13]:
products.isnull().sum()

product_id                 0
product_category_name    610
dtype: int64

In [14]:
# view these 610 missed values
df_nan = products[products['product_category_name'].isnull() == True]
df_nan

                             product_id product_category_name
105    a41e356c76fab66334f36de622ecbd3a                   NaN
128    d8dee61c2034d6d075997acef1870e9b                   NaN
145    56139431d72cd51f19eb9f7dae4d1617                   NaN
154    46b48281eb6d663ced748f324108c733                   NaN
197    5fb61f482620cb672f5e586bb132eae9                   NaN
...                                 ...                   ...
32515  b0a0c5dd78e644373b199380612c350a                   NaN
32589  10dbe0fbaa2c505123c17fdc34a63c56                   NaN
32616  bd2ada37b58ae94cc838b9c0569fecd8                   NaN
32772  fa51e914046aab32764c41356b9d4ea4                   NaN
32852  c4ceee876c82b8328e9c293fa0e1989b                   NaN

[610 rows x 2 columns]

In [15]:
#check the current number of rows in your

products.shape

(32951, 2)

In [16]:
products_cleaned = products[products['product_category_name'].isnull() == False]

In [17]:
products_cleaned.shape

(32341, 2)

In [18]:
orderpayment = pd.read_csv(os.path.join(path, '02 data', 'original data', 'olist_order_payments_dataset.csv'), delimiter=";")
print(orderpayment.head())

                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45

In [19]:
print(orderpayment.tail(10))

                                order_id  payment_sequential payment_type  \
103876  0872d0faafe0cb56e6f2c594cca1522c                   1  credit_card
103877  3531718b24dfd5022fb0d101e10e33b9                   1  credit_card
103878  2e3d96522c8c378d4135c12a65c977aa                   1  credit_card
103879  c45067032fd84f4cf408730ff5205568                   1  credit_card
103880  7159096c5aa9be77f7f0c26c01ee9793                   1  credit_card
103881  0406037ad97740d563a178ecc7a2075c                   1       boleto
103882  7b905861d7c825891d6347454ea7863f                   1  credit_card
103883  32609bbb3dd69b3c066a6860554a77bf                   1  credit_card
103884  b8b61059626efa996a60be9bb9320e10                   1  credit_card
103885  28bbae6599b09d39ca406b747b6632b1                   1       boleto

        payment_installments  payment_value
103876                     2         127.92
103877                     1         194.11
103878                     4          47.62
103879                     2         198.94
103880                     4         280.65
103881                     1         363.31
103882                     2          96.80
103883                     1          47.77
103884                     5         369.54
103885                     1         191.58

In [20]:
print(orderpayment.describe())

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

In [21]:
orderpayment.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [22]:
customers = pd.read_csv(os.path.join(path, '02 data', 'original data', 'olist_customers_dataset.csv'), delimiter=";")
print(customers.head())

                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

In [23]:
print(customers.describe())

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

In [24]:
customers.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [25]:
orderitems = pd.read_csv(os.path.join(path, '02 data', 'original data', 'olist_order_items_dataset.csv'), delimiter=";")
print(orderitems.head())

                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

  shipping_limit_date   price  freight_value
0    19/09/2017 09:45   58.90          13.29
1    03/05/2017 11:05  239.90          19.93
2    18/01/2018 14:48  199.00          17.87
3    15/08/2018 10:10   12.99          12.79
4    13/02/2017 13:57  199.90          18.14

In [26]:
print(orderitems.describe())

       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

In [27]:
orderitems.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [28]:
orders = pd.read_csv(os.path.join(path, '02 data', 'original data', 'olist_orders_dataset.csv'), delimiter=";")
print(orders.head())

                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp order_approved_at  \
0    delivered         02/10/2017 10:56  02/10/2017 11:07
1    delivered         24/07/2018 20:41  26/07/2018 03:24
2    delivered         08/08/2018 08:38  08/08/2018 08:55
3    delivered         18/11/2017 19:28  18/11/2017 19:45
4    delivered         13/02/2018 21:18  13/02/2018 22:20

  order_delivered_carrier_date order_delivered_customer_date  \
0             04/10/2017 19:55              10/10/2017 21:25
1             26/07/2018 14:31              07/08/2018 15:27
2             08/08/2018 13:50              17/08/2018 18:06
3             22/11/2017 13:39              02/12/2017 00:28
4             14/02/2018 19:46              16/02/2018 18:17

  order_estimated_delivery_date
0              18/10/2017 00:00
1              13/08/2018 00:00
2              04/09/2018 00:00
3              15/12/2017 00:00
4              26/02/2018 00:00

In [29]:
print(orders.describe())

                                order_id                       customer_id  \
count                              99441                             99441
unique                             99441                             99441
top     66dea50a8b16d9b4dee7af250b4be1a5  edb027a75a1449115f6b43211ae02a24
freq                                   1                                 1

       order_status order_purchase_timestamp order_approved_at  \
count         99441                    99441             99281
unique            8                    88789             50462
top       delivered         02/08/2018 12:06  10/01/2018 10:32
freq          96478                       28               109

       order_delivered_carrier_date order_delivered_customer_date  \
count                         97658                         96476
unique                        61544                         75649
top                09/05/2018 15:48              24/07/2018 18:28
freq                             47                             7

       order_estimated_delivery_date
count                          99441
unique                           459
top                 20/12/2017 00:00
freq                             522

In [30]:
orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [31]:
# view these missed values
orders_cleaned = orders[orders['order_approved_at'].isnull() == True]

In [32]:
#check the current number of rows in your

orders.shape

(99441, 8)

In [33]:
orders.dropna(inplace=True)

In [34]:
orders.shape

(96461, 8)

In [35]:
sellers = pd.read_csv(os.path.join(path, '02 data', 'original data', 'olist_sellers_dataset.csv'), delimiter=";")
print(sellers.head())

                          seller_id  seller_zip_code_prefix  \
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914

         seller_city seller_state
0           campinas           SP
1         mogi guacu           SP
2     rio de janeiro           RJ
3          sao paulo           SP
4  braganca paulista           SP

In [36]:
sellers.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [37]:
productscategory = pd.read_csv(os.path.join(path, '02 data', 'original data', 'product_category_name_translation.csv'))

In [38]:
productscategory.isnull().sum()

product_category_name;product_category_name_english    0
dtype: int64

In [39]:
productscategory = pd.read_csv(os.path.join(path, '02 data', 'original data', 'product_category_name_translation.csv'), delimiter=";")

In [40]:
print(productscategory.head())

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [41]:
productscategory.isnull().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [42]:
geological = pd.read_csv(os.path.join(path, '02 data', 'original data', 'olist_geolocation_dataset.csv'),delimiter=";")

In [43]:
print(geological.head())

   geolocation_zip_code_prefix geolocation_city geolocation_state  \
0                         1037        sao paulo                SP
1                         1046        sao paulo                SP
2                         1046        sao paulo                SP
3                         1041        sao paulo                SP
4                         1035        sao paulo                SP

  geolocation_lat geolocation_lng
0       -2,35E+15       -4,66E+15
1       -2,35E+16       -4,66E+15
2       -2,35E+15       -4,66E+15
3       -2,35E+14       -4,66E+15
4       -2,35E+16       -4,66E+15

In [44]:
geological.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_city               0
geolocation_state              1
geolocation_lat                0
geolocation_lng                0
dtype: int64

In [45]:
geological.dropna(inplace=True)

In [46]:
geological.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_city               0
geolocation_state              0
geolocation_lat                0
geolocation_lng                0
dtype: int64

In [47]:
!pip install unidecode

Requirement already satisfied: unidecode in c:\users\amani\miniconda3\lib\site-packages (1.3.8)

In [48]:
from unidecode import unidecode

# تحويل جميع القيم في عمود 'city' إلى حروف صحيحة
geological['geolocation_city'] = geological['geolocation_city'].apply(lambda x: unidecode(x) if isinstance(x, str) else x)

# عرض البيانات بعد التصحيح
print(geological.head())

   geolocation_zip_code_prefix geolocation_city geolocation_state  \
0                         1037        sao paulo                SP
1                         1046        sao paulo                SP
2                         1046        sao paulo                SP
3                         1041        sao paulo                SP
4                         1035        sao paulo                SP

  geolocation_lat geolocation_lng
0       -2,35E+15       -4,66E+15
1       -2,35E+16       -4,66E+15
2       -2,35E+15       -4,66E+15
3       -2,35E+14       -4,66E+15
4       -2,35E+16       -4,66E+15

In [49]:
print(geological['geolocation_city'].unique()[:10000])

['sao paulo' 'sao bernardo do campo' 'jundiaA' ... 'cirAaco' 'estaASSAPSo'
 'vila lAC/ngaro']

### fix columns names

In [50]:
print(orders.describe())

                                order_id                       customer_id  \
count                              96461                             96461
unique                             96461                             96461
top     66dea50a8b16d9b4dee7af250b4be1a5  edb027a75a1449115f6b43211ae02a24
freq                                   1                                 1

       order_status order_purchase_timestamp order_approved_at  \
count         96461                    96461             96461
unique            2                    86341             49451
top       delivered         02/08/2018 12:06  10/01/2018 10:32
freq          96455                       28               108

       order_delivered_carrier_date order_delivered_customer_date  \
count                         96461                         96461
unique                        61005                         75637
top                09/05/2018 15:48              03/08/2018 21:04
freq                             47                             7

       order_estimated_delivery_date
count                          96461
unique                           445
top                 20/12/2017 00:00
freq                             507

In [51]:
orders.columns = orders.columns.str.strip().str.lower().str.replace(" ", "_")

In [52]:
products.columns = products.columns.str.strip().str.lower().str.replace(" ", "_")

In [53]:
orderpayment.columns = orderpayment.columns.str.strip().str.lower().str.replace(" ", "_")

In [54]:
orderitems.columns = orderitems.columns.str.strip().str.lower().str.replace(" ", "_")

In [55]:
sellers.columns = sellers.columns.str.strip().str.lower().str.replace(" ", "_")

In [56]:
productscategory.columns = productscategory.columns.str.strip().str.lower().str.replace(" ", "_")

In [57]:
geological.columns = geological.columns.str.strip().str.lower().str.replace(" ", "_")

### remove Duplicates

In [58]:
orders.drop_duplicates(inplace=True)

In [59]:
products.drop_duplicates(inplace=True)

In [60]:
orderpayment.drop_duplicates(inplace=True)

In [61]:
orderitems.drop_duplicates(inplace=True)

In [62]:
sellers.drop_duplicates(inplace=True)

In [63]:
productscategory.drop_duplicates(inplace=True)

In [64]:
geological.drop_duplicates(inplace=True)

In [65]:
customers.drop_duplicates(inplace=True)

### fix columns data types

In [66]:
print(orders.dtypes)

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [67]:
# change columns that contain dates
orders['order_purchase_timestamp'] = pd.to_datetime(orders['order_purchase_timestamp'], errors='coerce')
orders['order_approved_at'] = pd.to_datetime(orders['order_approved_at'], errors='coerce')
orders['order_delivered_carrier_date'] = pd.to_datetime(orders['order_delivered_carrier_date'], errors='coerce')
orders['order_delivered_customer_date'] = pd.to_datetime(orders['order_delivered_customer_date'], errors='coerce')
orders['order_estimated_delivery_date'] = pd.to_datetime(orders['order_estimated_delivery_date'], errors='coerce')
orders['order_estimated_delivery_date'] = pd.to_datetime(orders['order_estimated_delivery_date'], errors='coerce', dayfirst=True)

C:\Users\Amani\AppData\Local\Temp\ipykernel_8052\2466853193.py:6: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  orders['order_estimated_delivery_date'] = pd.to_datetime(orders['order_estimated_delivery_date'], errors='coerce')

In [68]:
# make sure its changed
print(orders.dtypes)

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [69]:
print(customers.dtypes)

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [70]:
print(products.dtypes)

product_id               object
product_category_name    object
dtype: object

In [71]:
print(orderpayment.dtypes)

order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

In [72]:
print(orderitems.dtypes)

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

In [73]:
print(sellers.dtypes)

seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object

In [74]:
print(productscategory.dtypes)

product_category_name            object
product_category_name_english    object
dtype: object

In [75]:
print(geological.dtypes)

geolocation_zip_code_prefix     int64
geolocation_city               object
geolocation_state              object
geolocation_lat                object
geolocation_lng                object
dtype: object

#### Export your final, cleaned  “Prepared Data” folder and give them appropriate, succinct names.

In [76]:
# Export the cleaned df_prods dataframe
orders.to_csv(os.path.join(path, '02 data', 'cleaned data', 'orders_cleaned.csv'), index=False)

In [77]:
products.to_csv(os.path.join(path, '02 data', 'cleaned data', 'products_cleaned.csv'), index=False)

In [78]:
customers.to_csv(os.path.join(path, '02 data', 'cleaned data', 'customers_cleaned.csv'), index=False)

In [79]:
orderpayment.to_csv(os.path.join(path, '02 data', 'cleaned data', 'orderpayment_cleaned.csv'), index=False)

In [80]:
orderitems.to_csv(os.path.join(path, '02 data', 'cleaned data', 'orderitems_cleaned.csv'), index=False)

In [81]:
productscategory.to_csv(os.path.join(path, '02 data', 'cleaned data', 'productscategory_cleaned.csv'), index=False)

In [82]:
geological.to_csv(os.path.join(path, '02 data', 'cleaned data', 'geological_cleaned.csv'), index=False)

In [83]:
sellers.to_csv(os.path.join(path, '02 data', 'cleaned data', 'sellers_cleaned.csv'), index=False)